<aside>
	<nav>
		<ul class="menu">{{ $currentNode := . }}{{ $menuName := (printf "main-%s" .Params.Version) }}{{ $currentMenu := index .Site.Menus $menuName }}{{ range $currentMenu }}
			<li class="menuitem{{ if $currentNode.IsMenuCurrent $menuName . }} active{{ end }}">
				<a href="{{ .URL }}">{{ .Name }}</a>{{ if .HasChildren }}{{ if or ($currentNode.IsMenuCurrent $menuName .) ($currentNode.HasMenuCurrent $menuName .) }}
				<ul class="menu">{{ range .Children }}
					<li class="menuitem{{ if $currentNode.IsMenuCurrent $menuName . }} active{{ end }}"><a href="{{ .URL }}">{{ .Name }}</a></li>{{ end }}
				</ul>{{ end }}{{ end }}
			</li>{{ end }}
		</ul>
	</nav>{{ if and .IsHome (eq .Params.version "latest") }}

	<div class="note">
		<span class="fa fa-info-circle"></span> You are reading the very latest version of the documentation. <a href="/0.3/architecture/">Click here</a> to read the previous one.
	</div>{{ end }}
</aside>
