<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ .Title }}{{ if ne .Title .Site.Title }} — {{ .Site.Title }}{{ end }}</title>{{ if .Description }}
<meta name="description" content="{{ .Description }}">{{end}}{{ if .Keywords }}
<meta name="keywords" content="{{ range $index, $keyword := .Keywords }}{{ if ne $index 0 }},{{end}}{{ $keyword }}{{ end }}">{{end}}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="//fonts.googleapis.com/css?family=Roboto+Slab:400,300,700|Source+Code+Pro" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="/style.css" rel="stylesheet">
</head>
<body>
<header>
<a href="/"><img src="/logo.png" alt="Facette"></a>
<ul>
<li><a href="https://blog.facette.io/"><i class="fa fa-comment"></i>Blog</a></li>
<li><a href="https://twitter.com/FacetteIO"><i class="fa fa-twitter"></i>Twitter</a></li>
<li><a href="https://github.com/facette/facette/releases"><i class="fa fa-arrow-circle-o-down"></i>Downloads</a></li>
<li><a href="https://github.com/facette/facette"><i class="fa fa-github"></i>View on Github</a></li>
</ul>
</header>
