{{ template "common/header.html" . }}
{{ template "common/menu.html" . }}
<section>
<h1>Documentation</h1>
<p>This documentation is, as the <a href="http://facette.io/">Facette</a> project, currently under development and the various information provided here may be subject to changes in the near future.</p>
<ul>{{ range .Site.Menus.main }}
<li><a href="{{ .Url }}">{{ .Name }}</a>{{ if .HasChildren }}
<ul>{{ range .Children }}
<li><a href="{{ .Url }}">{{ .Name }}</a></li>{{ end }}
</ul>{{ end }}
</li>{{ end }}
</ul>
</section>
{{ template "common/footer.html" . }}
