{{ template "common/header.html" . }}
<section class="landing">

<div class="logo">
<img src="/logo.png">
<h1>Facette</h1>
</div>

<ul>
<li class="docs"><a href="/overview/"><span class="fa fa-book"></span> Documentation</a></li>
<li class="download"><a href="https://github.com/facette/facette/releases"><span class="fa fa-arrow-circle-o-down"></span> Download</a></li>
<li class="code"><a href="https://github.com/facette/facette"><span class="fa fa-github"></span> View on Github</a></li>
</ul>

</section>

{{ template "common/footer.html" . }}
