
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fdfdfd;
	color: #4d4d4d;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 1.5em;
	padding: 3em 0;
}

a {
	color: #09d;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, p, dl, ol, ul {
	font-weight: 400;
	margin: 1.25em 0;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

h4 {
	font-size: 1.125em;
}

h5 {
	font-size: 0.875em;
}

h6 {
	font-size: 0.75em;
}

ol,
ul {
	margin: 0;
	padding: 0 1.75em;
}

header,
section {
	min-width: 320px;

}

header {
	background-color: rgba(51, 51, 51, 0.95);
	border-bottom: 0.3em solid rgba(34, 34, 34, 0.95);
	color: #eee;
	height: 3.5em;
	left: 0;
	line-height: 3.5em;
	min-width: 320px;
	padding: 0 1em;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 20;
}

header::after {
	background: url(./ribbon.svg) 0 0 / 100% no-repeat;
	content: '';
	height: 0.35em;
	left: 0;
	position: absolute;
	right: 0;
	bottom: -0.35em;
}

header img {
	float: left;
	margin: 0.75em;
}

header h1 {
	float: left;
	font-size: 1.4em;
	font-weight: 300;
	margin: 0;
	text-transform: lowercase;
}

header a {
	color: inherit;
}

header a:hover {
	text-decoration: none;
}

header ul {
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

header ul li {
	float: left;
	margin: 0 0.75em;
}

header ul li:last-child {
	margin-right: 0.5em;
}

header ul li .fa {
	margin-right: 0.35em;
	text-align: center;
	width: 1.5em;
}

header ul li .fa::before {
	font-size: 1.5em;
	vertical-align: middle;
}

body > nav,
body > section {
	bottom: 0;
	overflow-y: auto;
	position: fixed;
	top: 3.85em;
}

body > nav {
	background-image: radial-gradient(ellipse 7.5% 50% at right, rgba(34, 34, 34, 0.1), rgba(255, 255, 255, 0));
	bottom: 0;
	box-sizing: border-box;
	min-width: 220px;
	padding: 3em 2em 3em 5%;
	width: 20%;
	z-index: 10;
}

body > nav li a:hover {
	color: #09d;
}

body > nav li li a {
	padding: 0 1.75em;
}

body > nav li.active > a {
	background-color: #eee;
	border-radius: 0.2em;
	margin-left: -1em;
	padding-left: 1em;
}

body > nav li li.active a {
	padding-left: 2.75em;
}

nav h1 {
	color: #999;
	font-size: 1em;
	text-transform: uppercase;
}

nav ul {
	line-height: 1.75em;
	list-style-type: none;
	padding: 0;
}

nav li {
	margin: 0.25em 0;
	padding: 0;
}

nav li a {
	color: inherit;
	display: block;
}

section {
	box-sizing: border-box;
	left: 20%;
	padding: 1em 25% 1em 3em;
	right: 0;
}

section > :last-child {
	margin-bottom: 4em;
}

section ul {
	line-height: 1.75em;
	list-style-type: square;
	padding: 0 1.75em;
}

section nav > ul {
	padding: 0 0 0 1em;
}

section img {
	max-width: 100%;
}

pre,
code {
	border-radius: 0.2em;
	background-color: #eee;
	font-family: 'Source Code Pro', monospace;
}

pre {
	overflow: auto;
	padding: 0.25em 0.5em;
	text-overflow: ellipsis;
}

code {
	padding: 0 0.25em;
}

pre code {
	background-color: transparent;
	border-radius: 0;
	padding: 0;
}

.toc {
	background-color: #f6f6f6;
	border-radius: 0.2em;
	bottom: 2.5em;
	box-sizing: border-box;
	font-size: 0.9em;
	line-height: 2em;
	overflow: auto;
	padding: 1em 1.5em;
	position: fixed;
	right: 2.5em;
	top: 6.35em;
	width: 20%;
}

.toc .title {
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.fa-warning {
	color: #f39c12;
}

.fa-info-circle {
	color: #2980b9;
}

@media screen and (max-width: 1024px) {
	.toc {
		display: none;
	}

	section {
		left: 220px;
		padding-right: 3em;
	}
}

@media screen and (max-width: 640px) {
	nav,
	.toc {
		display: none;
	}

	section {
		left: 0;
	}
}

@media screen and (max-width: 480px) {
	body {
		font-size: 0.9em;
	}

	header li {
		height: 3em;
		overflow: hidden;
		width: 1.5em;
	}

	section {
		padding: 0 1.5em;
	}

	section > :last-child {
		margin-bottom: 1.5em;
	}
}
